body{
  background-color: #ffedbc;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden{
  display: none;
}

.wrapper{
  width: 1200px;
  height: 450px;
  position: absolute;
  top:50%;
  left:50%;
  margin: -225px -600px;
  background-image: url('../img/bg-content.jpg');
  background-color: white;
  border-radius: 1em;
  border: solid 3px #f9d574;
  text-align: center;
}

.wrapper .button{
  padding: 1em;
  border-radius: 3em;
  width: 400px;
  position: absolute;
  top:50%;
  left:50%;
}

.wrapper .button{
  background-color: #5a42d7;
  color:white;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 30px;
  margin: 185px -200px;
}

.wrapper .content{
  border-radius: 1em;
  height: 400px;
  margin-top: 90px;
  font-size: 40px;
}

.wrapper .inserted-sum .sum{
  font-size: 180px;
  color: #5a42d7;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.img-left-corner{
  position: absolute;
  bottom: 20px; 
  left: 30px; 
}

.img-right-corner{
  position: absolute;
  bottom: 20px; 
  right: 30px; 
}
